{% extends "base.html" %}

{% block content %}
    <h1>Taxi Service Home</h1>
    <p>Welcome to Best Taxi Ever!</p>
    <h2>Dynamic content</h2>
    <table class="table">
      <caption>
        The Taxi service has the following record counts:
      </caption>
      <tbody>
        <tr>
          <td><strong>Cars:</strong></td>
          <td>{{ num_cars }}</td>
        </tr>
        <tr>
          <td><strong>Drivers:</strong></td>
          <td>{{ num_drivers }}</td>
        </tr>
        <tr>
          <td><strong>Manufacturers:</strong></td>
          <td>{{ num_manufacturers }}</td>
        </tr>
      </tbody>
    </table>
    <p>You have visited this page
        {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>

{% endblock %}
